<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="AzureConnection"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=projectteamno7.database.windows.net;Initial Catalog=travelexperts;Persist Security Info=True;
     User ID=ChrisP;Password=Travel123;" />
  </connectionStrings>
</configuration>