<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="Azure Database Connection" providerName="System.Data.ProviderName"
         connectionString="Data Source=projectteamno7.database.windows.net;Initial Catalog=travelexperts;User ID=Runner;Password=Travel123;"/>
  </connectionStrings>
</configuration>